flows.json
[
    {
        "id": "1612c65b.c466ca",
        "type": "tab",
        "label": "IOT_Proj_Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ac4c6c15.9f4428",
        "type": "mqtt in",
        "z": "1612c65b.c466ca",
        "name": "",
        "topic": "BUN_Level",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ad3f9b9.8b4548",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "76608db1.930bf4"
            ]
        ]
    },
    {
        "id": "62dd9c42.f9d33c",
        "type": "function",
        "z": "1612c65b.c466ca",
        "name": "",
        "func": "/*var t = msg.payload;\nmsg.payload = {\n    value: t,\n    prev_value: flow.get(\"prevValue\")\n}*/\nvar value = msg.payload;\nvar prevValue = flow.get(\"prevValue\");\n//var prevDecline = flow.get(\"prevDecline\");\nif ((prevValue - value) > 20) {\n    msg.payload = {};\n    msg.payload.warning = \"Sharp BUN decline\";\n    msg.payload.BUN_Decline = prevValue - value;\n    return msg;\n}\nmsg.payload = \"Normal\";\nflow.set(\"prevValue\", value);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "1f439d6a.66ae73"
            ]
        ]
    },
    {
        "id": "1f439d6a.66ae73",
        "type": "debug",
        "z": "1612c65b.c466ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "76608db1.930bf4",
        "type": "random",
        "z": "1612c65b.c466ca",
        "name": "",
        "low": "100",
        "high": "250",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "62dd9c42.f9d33c"
            ]
        ]
    },
    {
        "id": "dedfe9a1.b5ed18",
        "type": "mqtt in",
        "z": "1612c65b.c466ca",
        "name": "",
        "topic": "Air_Entrapment",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ad3f9b9.8b4548",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "ff3d819f.f856e"
            ]
        ]
    },
    {
        "id": "ff3d819f.f856e",
        "type": "switch",
        "z": "1612c65b.c466ca",
        "name": "Right Ventricular Air",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0.05",
                "vt": "num",
                "v2": "0.5",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "0.5",
                "vt": "num",
                "v2": "2.0",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "2.0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "5a583fad.a5f168"
            ],
            [
                "4cd34596.8df7cc",
                "2c55dc7e.07ee1c"
            ],
            []
        ]
    },
    {
        "id": "5a583fad.a5f168",
        "type": "debug",
        "z": "1612c65b.c466ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "2f22cb69.62b9fc",
        "type": "mqtt in",
        "z": "1612c65b.c466ca",
        "name": "",
        "topic": "Heart_Rate",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ad3f9b9.8b4548",
        "x": 450,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "16a3b239.7c348e",
        "type": "debug",
        "z": "1612c65b.c466ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "5cf985e5.3507d4",
        "type": "inject",
        "z": "1612c65b.c466ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "86dfe075.108268"
            ]
        ]
    },
    {
        "id": "86dfe075.108268",
        "type": "random",
        "z": "1612c65b.c466ca",
        "name": "",
        "low": "0.5",
        "high": "2",
        "inte": "false",
        "property": "payload",
        "x": 220,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c4ca129a.82194",
        "type": "mqtt in",
        "z": "1612c65b.c466ca",
        "name": "",
        "topic": "O2_Levels",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ad3f9b9.8b4548",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "4cd34596.8df7cc"
            ]
        ]
    },
    {
        "id": "4cd34596.8df7cc",
        "type": "switch",
        "z": "1612c65b.c466ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "30a5803c.90da38"
            ]
        ]
    },
    {
        "id": "2c55dc7e.07ee1c",
        "type": "change",
        "z": "1612c65b.c466ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Medium Air Contamination",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 340,
        "wires": [
            [
                "16a3b239.7c348e"
            ]
        ]
    },
    {
        "id": "1d40c2ed.76abe5",
        "type": "debug",
        "z": "1612c65b.c466ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "30a5803c.90da38",
        "type": "change",
        "z": "1612c65b.c466ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low O2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "1d40c2ed.76abe5"
            ]
        ]
    },
    {
        "id": "9ad3f9b9.8b4548",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]