publish.json
[{"id":"4e1a27a9.81b078","type":"tab","label":"Publish","disabled":false,"info":""},{"id":"d0236ac1.0287b8","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":120,"wires":[["481a9ab6.fc27d4"]],"info":"{\n    \n}"},{"id":"1a88bb96.fbf354","type":"inject","z":"4e1a27a9.81b078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["9b00987.2dcaf68","a93bc1d1.79a88","2a77f797.834098","5c17ddbf.5b3cc4","c7b41f63.e068b","492927a5.cc2808"]]},{"id":"9b00987.2dcaf68","type":"function","z":"4e1a27a9.81b078","name":"Temp Sensor","func":"var obj = new Object();\n    obj.sensor = \"temperature\";\n    obj.temp  = Math.floor(Math.random() * (108 - 90 + 1)) + 90;\nif(obj.temp > 98.6) {\n    obj.condition = 'High Fever';\n}\nelse{\n    obj.condition = 'Under Control';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":120,"wires":[["d0236ac1.0287b8"]]},{"id":"481a9ab6.fc27d4","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"Temperature","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":930,"y":120,"wires":[]},{"id":"a93bc1d1.79a88","type":"function","z":"4e1a27a9.81b078","name":"Pacemaker","func":"var obj = new Object();\n    obj.sensor = \"Pacemaker\";\n    obj.heartRate  = Math.floor((Math.random() * (120 - 40 + 1)) + 40);\nif(obj.heartRate > 60 && obj.heartRate < 100 ) {\n    obj.condition = 'Under Control';\n}\nelse if(obj.heartRate < 60) {\n    obj.condition = 'Low Heart Rate'\n}\nelse if (obj.heartRate > 100){\n\tobj.condition = 'High Heart Rate'\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["e0ab9059.15d07"]]},{"id":"2a77f797.834098","type":"function","z":"4e1a27a9.81b078","name":"Glucose","func":"var obj = new Object();\n    obj.sensor = \"Glucose Monitoring\";\n    obj.glucose  = Math.floor((Math.random() * (190 - 50 + 1)) + 50);\n\tnum = Math.round(Math.random())\n\tif(num == 1){\n\t\tobj.type = \"Fasting Sugar Level\";\n\t\tif(obj.glucose > 140 ) {\n\t\t\tobj.condition = 'Sugar Level High';\n\t\t}else if(obj.glucose < 70){\n\t\t\tobj.condition = 'Suger Level Low';\n\t\t}else{\n\t\t\tobj.condition = 'Under Control';\n\t\t}\n\t}else{\n\t\tobj.type = \"Post Meal Sugar Level\";\n\t\tif(obj.glucose > 190 ) {\n\t\t\tobj.condition = 'Sugar Level High';\n\t\t}else if(obj.glucose < 120){\n\t\t\tobj.condition = 'Suger Level Low';\n\t\t}else{\n\t\t\tobj.condition = 'Under Control';\n\t\t}\n\t}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["2dee1017.29122"]]},{"id":"5c17ddbf.5b3cc4","type":"function","z":"4e1a27a9.81b078","name":"Body Oxygen","func":"var obj = new Object();\n    obj.sensor = \"Blood Oxygen\";\n    obj.oxygen  = Math.floor((Math.random() * (100 - 85 + 1)) + 85);\nif(obj.oxygen > 95) {\n\tobj.condition = 'Under Control';\n}else if(obj.oxygen > 91 && obj.oxygen < 94){\n    obj.condition = 'Oxygen Below Average';\n}else{\n\tobj.condition = 'Attention Required! Oxygen Level Low'\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["541a2333.6b717c"]]},{"id":"c7b41f63.e068b","type":"function","z":"4e1a27a9.81b078","name":"Pressure ","func":"var obj = new Object();\n    obj.sensor = \"Adults Respiratory Monitoring\";\n    obj.respiratory  = Math.floor((Math.random() * (25 - 8 + 1)) + 8);\nif(obj.respiratory < 12 ) {\n    obj.condition = 'Breathing Rate Low!!';\n}else if(obj.oxygen > 20){\n    obj.condition = 'Breathing Rate High!!';\n}else{\n    obj.condition = 'Under Control';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["3704fc9e.aae1a4"]]},{"id":"492927a5.cc2808","type":"function","z":"4e1a27a9.81b078","name":"Blood Pressure","func":"var obj = new Object();\n    obj.sensor = \"blood pressure\";\n    obj.bp  = Math.floor((Math.random() * (140-120+1)) + 120);\nif(obj.bp < 120) \n{\n    obj.condition = 'Optimal Blood Pressure';\n}\nelse if(obj.bp > 120 && obj.bp < 140)\n{\n\tobj.condition = 'Normal Blood Pressure';\n}\nelse\n{\n    obj.condition = 'High Blood Pressure';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["40f34c48.9a5184"]]},{"id":"e0ab9059.15d07","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":180,"wires":[["aa8038bc.0096e8"]],"info":"{\n    \n}"},{"id":"2dee1017.29122","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":240,"wires":[["7ef76d5c.d41e24"]],"info":"{\n    \n}"},{"id":"541a2333.6b717c","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":300,"wires":[["3703a3c7.b2345c"]],"info":"{\n    \n}"},{"id":"3704fc9e.aae1a4","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["86c9539e.f4aa9"]],"info":"{\n    \n}"},{"id":"40f34c48.9a5184","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":630,"y":460,"wires":[["b3bec005.35127"]],"info":"{\n    \n}"},{"id":"aa8038bc.0096e8","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"Pacemaker","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":930,"y":180,"wires":[]},{"id":"7ef76d5c.d41e24","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"Glucose","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":920,"y":240,"wires":[]},{"id":"3703a3c7.b2345c","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"Oxygen","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":920,"y":300,"wires":[]},{"id":"86c9539e.f4aa9","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"Pressure","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":920,"y":380,"wires":[]},{"id":"b3bec005.35127","type":"mqtt out","z":"4e1a27a9.81b078","name":"","topic":"BloodP","qos":"","retain":"","broker":"f5bd0a92.4ff2c8","x":920,"y":460,"wires":[]},{"id":"56873491.d5cf2c","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"Temperature","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1110,"y":120,"wires":[["2776fea1.a32e22"]]},{"id":"bf4bd5ed.de2a48","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"BloodP","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1090,"y":460,"wires":[["2776fea1.a32e22"]]},{"id":"ed02a60d.607458","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"Pressure","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1100,"y":380,"wires":[["2776fea1.a32e22"]]},{"id":"a7f3e24e.ae719","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"Oxygen","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1090,"y":300,"wires":[["2776fea1.a32e22"]]},{"id":"33a450f3.76bf7","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"Glucose","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1100,"y":240,"wires":[["2776fea1.a32e22"]]},{"id":"52ad723.f53498c","type":"mqtt in","z":"4e1a27a9.81b078","name":"","topic":"Pacemaker","qos":"2","datatype":"auto","broker":"f5bd0a92.4ff2c8","x":1110,"y":180,"wires":[["2776fea1.a32e22"]]},{"id":"2776fea1.a32e22","type":"json","z":"4e1a27a9.81b078","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":280,"wires":[["c466cc0c.0f797"]],"info":"{\n    \n}"},{"id":"c466cc0c.0f797","type":"debug","z":"4e1a27a9.81b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":280,"wires":[]},{"id":"f5bd0a92.4ff2c8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]