subscribe.json
[{"id":"aafad29.1a2043","type":"tab","label":"Subscribe","disabled":false,"info":""},{"id":"70d96c68.048934","type":"mqtt in","z":"aafad29.1a2043","name":"","topic":"Temperature","qos":"0","datatype":"json","broker":"f5bd0a92.4ff2c8","x":110,"y":80,"wires":[["9ccfaab9.60dd38","c35d8a3f.212df8"]]},{"id":"d81d28ca.e2a8d8","type":"mqtt in","z":"aafad29.1a2043","name":"","topic":"Pacemaker","qos":"0","datatype":"json","broker":"f5bd0a92.4ff2c8","x":110,"y":240,"wires":[["c5d89fb0.6f873","4fa803f3.5d561c"]]},{"id":"f5ee7deb.ddf9d","type":"mqtt in","z":"aafad29.1a2043","name":"","topic":"Glucose","qos":"0","datatype":"json","broker":"f5bd0a92.4ff2c8","x":100,"y":400,"wires":[["17318cdf.e2c703","a1329c5b.ed755"]]},{"id":"a98c0c66.946d","type":"mqtt in","z":"aafad29.1a2043","name":"","topic":"Pressure","qos":"0","datatype":"json","broker":"f5bd0a92.4ff2c8","x":100,"y":580,"wires":[["75a3ad96.c74104","edb025ee.bd7058"]]},{"id":"c35d8a3f.212df8","type":"function","z":"aafad29.1a2043","name":"Temperature Check","func":"if(msg.payload.temp > 102) {\n    msg.payload.condition = 'Consult Doctor'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["b06870db.d34de"]]},{"id":"4fa803f3.5d561c","type":"function","z":"aafad29.1a2043","name":"heart rate","func":"if(msg.payload.heartRate < 50) {\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["c5df1641.501288","a553a1e6.c3c3b"]]},{"id":"a1329c5b.ed755","type":"function","z":"aafad29.1a2043","name":"Glucose check","func":"if(msg.payload.glucose < 50 ||msg.payload.glucose > 170 ){\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["8da3317b.9df2d"]]},{"id":"edb025ee.bd7058","type":"function","z":"aafad29.1a2043","name":"Pressure check","func":"if(msg.payload.respiratory < 10){\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["bbd724aa.dfc198"]]},{"id":"a553a1e6.c3c3b","type":"function","z":"aafad29.1a2043","name":"Check","func":"if(msg.payload.heartRate < 50) {\n    msg.payload.condition = 'Severe'\n}else {\n    msg.payload = NULL\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["82e05b94.851728"]]},{"id":"82e05b94.851728","type":"ui_toast","z":"aafad29.1a2043","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Critical Heart Rate","name":"","x":750,"y":320,"wires":[[]]},{"id":"b06870db.d34de","type":"ui_text","z":"aafad29.1a2043","group":"e55bbc39.75c62","order":1,"width":"4","height":"4","name":"","label":"Temp Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":640,"y":100,"wires":[]},{"id":"c5df1641.501288","type":"ui_text","z":"aafad29.1a2043","group":"e55bbc39.75c62","order":3,"width":"6","height":1,"name":"","label":"Heart Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":600,"y":260,"wires":[]},{"id":"8da3317b.9df2d","type":"ui_text","z":"aafad29.1a2043","group":"e55bbc39.75c62","order":5,"width":"6","height":"6","name":"","label":"Sugar Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":620,"y":440,"wires":[]},{"id":"bbd724aa.dfc198","type":"ui_text","z":"aafad29.1a2043","group":"e55bbc39.75c62","order":7,"width":"6","height":"6","name":"","label":"Pressure Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":650,"y":620,"wires":[]},{"id":"9ccfaab9.60dd38","type":"ui_gauge","z":"aafad29.1a2043","name":"Temperature","group":"e55bbc39.75c62","order":2,"width":"6","height":5,"gtype":"gage","title":"","label":"°F","format":"{{msg.payload.temp}}","min":"90","max":"110","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":390,"y":40,"wires":[]},{"id":"c5d89fb0.6f873","type":"ui_gauge","z":"aafad29.1a2043","name":"Heartrate","group":"e55bbc39.75c62","order":4,"width":"6","height":5,"gtype":"donut","title":"","label":"","format":"{{msg.payload.heartRate}}","min":"40","max":"180","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"17318cdf.e2c703","type":"ui_gauge","z":"aafad29.1a2043","name":"SugarLevel","group":"e55bbc39.75c62","order":6,"width":"6","height":5,"gtype":"compass","title":"","label":"","format":"{{msg.payload.glucose}}","min":"50","max":"190","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":390,"y":360,"wires":[]},{"id":"75a3ad96.c74104","type":"ui_gauge","z":"aafad29.1a2043","name":"PressureLevel","group":"e55bbc39.75c62","order":8,"width":"6","height":5,"gtype":"wave","title":"","label":"","format":"{{msg.payload.respiratory}}","min":"8","max":"25","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":400,"y":540,"wires":[]},{"id":"f5bd0a92.4ff2c8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e55bbc39.75c62","type":"ui_group","name":"Group","tab":"b7bbae7a.67462","order":8,"disp":true,"width":6},{"id":"b7bbae7a.67462","type":"ui_tab","z":"4e1a27a9.81b078","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]