flows/IOT_Proj_Sensors.json
[{"id":"7c4a7429.bafd84","type":"tab","label":"IOT_Proj_Sensors","disabled":false,"info":""},{"id":"7d187680.608aa8","type":"inject","z":"7c4a7429.bafd84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["9ddd8283.0e0bf8"]]},{"id":"fa52184f.afd388","type":"mqtt out","z":"7c4a7429.bafd84","name":"","topic":"health/Dialysis_Sensors","qos":"","retain":"","broker":"6822706.e0bf31","x":970,"y":260,"wires":[]},{"id":"3f485075.cb459","type":"json","z":"7c4a7429.bafd84","name":"","property":"payload","action":"","pretty":false,"x":690,"y":260,"wires":[["fa52184f.afd388","4b31d07f.c23548"]]},{"id":"9ddd8283.0e0bf8","type":"function","z":"7c4a7429.bafd84","name":"","func":"BUN = Math.random()*250;\nAir_Bubble = Math.floor(Math.random()*1.1);\nPulse_Oximetry = 90 + Math.random()*10;\nPulse = 40 + Math.random()*150;\nArt_Gas = 20 + Math.random()*100;\nLiquid_Temp = 30 + Math.random()*10;\nBody_Temp = 90 + Math.random()*15;\nBP_Systolic = 70 + Math.random()*100;\nHaemoglobin = 10 + 10 * Math.random();\nmsg.payload = {\n    \"BUN\" : BUN,\n    \"Air_Bubble\" : Air_Bubble,\n    \"Pulse_Oximetry\" : Pulse_Oximetry,\n    \"Pulse\" : Pulse,\n    \"Art_Gas\" : Art_Gas,\n    \"Liquid_Temp\" : Liquid_Temp,\n    \"Body_Temp\" : Body_Temp,\n    \"Blood_Pressure\" : BP_Systolic,\n    \"Haemoglobin\" : Haemoglobin\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["3f485075.cb459"]]},{"id":"4b31d07f.c23548","type":"debug","z":"7c4a7429.bafd84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"6822706.e0bf31","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]