flows/IOT_Proj_Sensors.json
[{"id":"4740695a.79aa08","type":"tab","label":"IOT_Proj_Sensors","disabled":false,"info":""},{"id":"35acb1eb.0a79be","type":"inject","z":"4740695a.79aa08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["6c856701.656928"]]},{"id":"3de78f1f.d1b0b","type":"mqtt out","z":"4740695a.79aa08","name":"","topic":"health/Dialysis_Sensors","qos":"","retain":"","broker":"87ccabea.d3c038","x":970,"y":260,"wires":[]},{"id":"ed1be3ca.b4964","type":"json","z":"4740695a.79aa08","name":"","property":"payload","action":"","pretty":false,"x":690,"y":260,"wires":[["3de78f1f.d1b0b"]]},{"id":"6c856701.656928","type":"function","z":"4740695a.79aa08","name":"","func":"BUN = Math.random()*250;\nAir_Bubble = Math.random()*2.5;\nPulse_Oximetry = 90 + Math.random()*10;\nArt_Gas = 20 + Math.random()*100;\nmsg.payload = {\n    \"BUN\" : BUN,\n    \"Air_Bubble\" : Air_Bubble,\n    \"Pulse_Oximetry\" : Pulse_Oximetry,\n    \"Art_Gas\" : Art_Gas\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["ed1be3ca.b4964"]]},{"id":"87ccabea.d3c038","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]