flows/IOT_Proj_Sensors.json
[{"id":"9d05f5ab.5e0e88","type":"tab","label":"IOT_Proj_Sensors","disabled":false,"info":""},{"id":"45beeee4.383c18","type":"inject","z":"9d05f5ab.5e0e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["3555e36d.6ff19c"]]},{"id":"bed2f140.0b856","type":"mqtt out","z":"9d05f5ab.5e0e88","name":"","topic":"Dialysis_Sensors","qos":"","retain":"","broker":"9ad3f9b9.8b4548","x":950,"y":260,"wires":[]},{"id":"58e14ba4.ff715c","type":"json","z":"9d05f5ab.5e0e88","name":"","property":"payload","action":"","pretty":false,"x":690,"y":260,"wires":[["bed2f140.0b856"]]},{"id":"3555e36d.6ff19c","type":"function","z":"9d05f5ab.5e0e88","name":"","func":"BUN = Math.random()*250;\nAir_Bubble = Math.random()*2.5;\nPulse_Oximetry = 50 + Math.random()*50;\nArt_Gas = 20 + Math.random()*100;\nmsg.payload = {\n    \"BUN\" : BUN,\n    \"Air_Bubble\" : Air_Bubble,\n    \"Pulse_Oximetry\" : Pulse_Oximetry,\n    \"Art_Gas\" : Art_Gas\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["58e14ba4.ff715c"]]},{"id":"9ad3f9b9.8b4548","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]