flows/IOT_Proj_Status.json
[{"id":"29d8f732.8f0578","type":"tab","label":"IOT_Proj_Status_Msgs","disabled":false,"info":""},{"id":"7e3ad2f3.4c93cc","type":"function","z":"29d8f732.8f0578","name":"Blood Urea Nitrogen","func":"/*var t = msg.payload;\nmsg.payload = {\n    value: t,\n    prev_value: flow.get(\"prevValue\")\n}*/\nvar value = msg.payload.BUN;\nvar prevValue = flow.get(\"prevValue\");\nmsg.payload = {}\n//var prevDecline = flow.get(\"prevDecline\");\nmsg.payload.value = value;\nif ((prevValue - value) > 20) {\n    msg.payload = \"Sharp BUN decline\";\n    msg.payload.BUN_Decline = prevValue - value;\n    return msg;\n}\nflow.set(\"prevValue\", value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":140,"wires":[["e9c6bcd8.03d96"]]},{"id":"fb92ef56.6316b","type":"switch","z":"29d8f732.8f0578","name":"Right Ventricular Air","property":"payload.Air_Bubble","propertyType":"msg","rules":[{"t":"btwn","v":"0.05","vt":"num","v2":"0.5","v2t":"num"},{"t":"btwn","v":"0.5","vt":"num","v2":"2.0","v2t":"num"},{"t":"gt","v":"2.0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":240,"wires":[["d7eff74d.072e78"],["df6242b5.b519b","c4dcf5c0.93b7d8"],["7edf5239.59632c","df6242b5.b519b"]]},{"id":"df6242b5.b519b","type":"switch","z":"29d8f732.8f0578","name":"Oxygen Levels","property":"payload.Pulse_Oximetry","propertyType":"msg","rules":[{"t":"lt","v":"94","vt":"str"},{"t":"lt","v":"92","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":380,"wires":[["b55cb55e.0ec2c8"],["8305f369.e4784"]]},{"id":"c4dcf5c0.93b7d8","type":"change","z":"29d8f732.8f0578","name":"Medium Air Contamination","rules":[{"t":"set","p":"payload","pt":"msg","to":"Medium Air Contamination","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":220,"wires":[["e9c6bcd8.03d96"]]},{"id":"b55cb55e.0ec2c8","type":"change","z":"29d8f732.8f0578","name":"Low O2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["e9c6bcd8.03d96"]]},{"id":"d7eff74d.072e78","type":"change","z":"29d8f732.8f0578","name":"Air Contamination Possible","rules":[{"t":"set","p":"payload","pt":"msg","to":"Air Contamination Possible","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":180,"wires":[["e9c6bcd8.03d96"]]},{"id":"7edf5239.59632c","type":"change","z":"29d8f732.8f0578","name":"Fatal Air Contamination","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fatal Air Contamination","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":260,"wires":[["e9c6bcd8.03d96"]]},{"id":"36838940.306e06","type":"mqtt in","z":"29d8f732.8f0578","name":"","topic":"health/Dialysis_Sensors","qos":"2","datatype":"auto","broker":"2e874138.b00a4e","x":120,"y":220,"wires":[["135de93.d10d817"]]},{"id":"135de93.d10d817","type":"json","z":"29d8f732.8f0578","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["fb92ef56.6316b","7e3ad2f3.4c93cc","df6242b5.b519b"]]},{"id":"8305f369.e4784","type":"change","z":"29d8f732.8f0578","name":"Potential Hypoxemia","rules":[{"t":"set","p":"payload","pt":"msg","to":"Potential Hypoxemia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":340,"wires":[["e9c6bcd8.03d96"]]},{"id":"e9c6bcd8.03d96","type":"change","z":"29d8f732.8f0578","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"payload.stat","pt":"msg","to":"Critical","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["f8557b25.33ae08"]]},{"id":"f8557b25.33ae08","type":"json","z":"29d8f732.8f0578","name":"","property":"payload","action":"","pretty":false,"x":1160,"y":400,"wires":[["6d55b0fa.1faa4"]]},{"id":"6d55b0fa.1faa4","type":"mqtt out","z":"29d8f732.8f0578","name":"","topic":"health/Patient_Status","qos":"","retain":"","broker":"2e874138.b00a4e","x":1090,"y":540,"wires":[]},{"id":"2e874138.b00a4e","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]