flows/IOT_Proj_Status.json
[{"id":"ed056719.eefb88","type":"tab","label":"IOT_Proj_Status_Msgs","disabled":false,"info":""},{"id":"f172b2c0.607ff","type":"function","z":"ed056719.eefb88","name":"Blood Urea Nitrogen","func":"/*var t = msg.payload;\nmsg.payload = {\n    value: t,\n    prev_value: flow.get(\"prevValue\")\n}*/\nvar value = msg.payload.BUN;\nvar prevValue = flow.get(\"prevValue\");\nmsg.payload = {}\n//var prevDecline = flow.get(\"prevDecline\");\nmsg.payload.value = value;\nif ((prevValue - value) > 20) {\n    msg.payload = \"Sharp BUN decline\";\n    msg.payload.BUN_Decline = prevValue - value;\n    return msg;\n}\nflow.set(\"prevValue\", value);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":40,"wires":[["4354be63.c9382"]]},{"id":"207d4e61.cc1baa","type":"switch","z":"ed056719.eefb88","name":"Oxygen Levels","property":"payload.Pulse_Oximetry","propertyType":"msg","rules":[{"t":"lt","v":"92","vt":"str"},{"t":"lt","v":"94","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":600,"y":200,"wires":[["f4786232.84cd6"],["14eb3998.c3654e"]]},{"id":"14eb3998.c3654e","type":"change","z":"ed056719.eefb88","name":"Low O2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["4354be63.c9382"]]},{"id":"cff61120.20cb88","type":"mqtt in","z":"ed056719.eefb88","name":"","topic":"health/Dialysis_Sensors","qos":"2","datatype":"auto","broker":"472e422f.42e324","x":120,"y":280,"wires":[["56fc1e93.bb59b8"]]},{"id":"56fc1e93.bb59b8","type":"json","z":"ed056719.eefb88","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["207d4e61.cc1baa","c40beabe.e8821","ff17c24c.9697e8","11e259cb.bd5c0e","43f5b1fe.92fc58","dc488506.8ce05","f172b2c0.607ff","f155d6cf.d3c138"]]},{"id":"f4786232.84cd6","type":"change","z":"ed056719.eefb88","name":"Potential Hypoxemia","rules":[{"t":"set","p":"payload","pt":"msg","to":"Potential Hypoxemia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[["4354be63.c9382"]]},{"id":"4354be63.c9382","type":"change","z":"ed056719.eefb88","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"payload.stat","pt":"msg","to":"Critical","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":260,"wires":[["69a23fd0.174008","c014b0d5.d7f4b"]]},{"id":"69a23fd0.174008","type":"json","z":"ed056719.eefb88","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":480,"wires":[["d0e72026.775b3","e69f2162.54f348"]]},{"id":"d0e72026.775b3","type":"mqtt out","z":"ed056719.eefb88","name":"","topic":"health/Patient_Status","qos":"","retain":"","broker":"472e422f.42e324","x":1320,"y":620,"wires":[]},{"id":"e69f2162.54f348","type":"debug","z":"ed056719.eefb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":800,"wires":[]},{"id":"c40beabe.e8821","type":"switch","z":"ed056719.eefb88","name":"Air Bubble","property":"payload.Air_Bubble","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":140,"wires":[["4c9082c8.b87ac4"]]},{"id":"4c9082c8.b87ac4","type":"change","z":"ed056719.eefb88","name":"Air Contamination","rules":[{"t":"set","p":"payload","pt":"msg","to":"Air Bubble Presence","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":140,"wires":[["4354be63.c9382"]]},{"id":"ff17c24c.9697e8","type":"switch","z":"ed056719.eefb88","name":"Pulse","property":"payload.Pulse","propertyType":"msg","rules":[{"t":"btwn","v":"40","vt":"num","v2":"60","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[[],["27c4451f.d8a0e2"]]},{"id":"27c4451f.d8a0e2","type":"change","z":"ed056719.eefb88","name":"Abnormal Pulse","rules":[{"t":"set","p":"payload","pt":"msg","to":"Abnormal Pulse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":460,"wires":[["4354be63.c9382","2f165659.2a6d4a"]]},{"id":"11e259cb.bd5c0e","type":"switch","z":"ed056719.eefb88","name":"Solvent Temperature","property":"payload.Liquid_Temp","propertyType":"msg","rules":[{"t":"lt","v":"34","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":340,"wires":[["b409fbde.845fd"]]},{"id":"43f5b1fe.92fc58","type":"switch","z":"ed056719.eefb88","name":"Body Temperature","property":"payload.Body_Temp","propertyType":"msg","rules":[{"t":"lt","v":"97.5","vt":"str"},{"t":"gt","v":"99.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":280,"wires":[["11e259cb.bd5c0e"],["f155d6cf.d3c138"]]},{"id":"249e4654.eea9ea","type":"change","z":"ed056719.eefb88","name":"High Body Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"High Body & Solvent Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":400,"wires":[["4354be63.c9382"]]},{"id":"b409fbde.845fd","type":"change","z":"ed056719.eefb88","name":"Low Body Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low Body & Solvent Temprature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[["4354be63.c9382"]]},{"id":"dc488506.8ce05","type":"switch","z":"ed056719.eefb88","name":"Blood Pressure Systolic","property":"payload.BP_Systolic","propertyType":"msg","rules":[{"t":"lt","v":"90","vt":"str"},{"t":"gt","v":"125","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":540,"wires":[["659522db.6d2634","3bbdd2dc.729b3e"],["2b48b2ba.59989e"]]},{"id":"659522db.6d2634","type":"change","z":"ed056719.eefb88","name":"Low BP","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low BP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["4354be63.c9382"]]},{"id":"2b48b2ba.59989e","type":"change","z":"ed056719.eefb88","name":"High BP","rules":[{"t":"set","p":"payload","pt":"msg","to":"High BP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":560,"wires":[["4354be63.c9382"]]},{"id":"113442d3.aa2245","type":"change","z":"ed056719.eefb88","name":"Undesirable Solvent Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"Undesirable Solvent Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":860,"wires":[[]]},{"id":"f155d6cf.d3c138","type":"switch","z":"ed056719.eefb88","name":"Solvent Temperature","property":"payload.Liquid_Temp","propertyType":"msg","rules":[{"t":"gt","v":"35.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":400,"wires":[["249e4654.eea9ea"]]},{"id":"3bbdd2dc.729b3e","type":"switch","z":"ed056719.eefb88","name":"Haemoglobin","property":"payload.Haemoglobin","propertyType":"msg","rules":[{"t":"btwn","v":"13","vt":"num","v2":"17","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":620,"wires":[[],["ae05bc4b.086098"]]},{"id":"ae05bc4b.086098","type":"change","z":"ed056719.eefb88","name":"Anemia","rules":[{"t":"set","p":"payload","pt":"msg","to":"Anemic Symptoms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["4354be63.c9382"]]},{"id":"2f165659.2a6d4a","type":"AnamicoAlarmSensor","z":"ed056719.eefb88","name":"","panel":"","alarmStates":"1","triggerType":"1","x":1220,"y":460,"wires":[]},{"id":"2c07bd25.62ce2a","type":"telegram sender","z":"ed056719.eefb88","name":"Alert","bot":"965860b4.ff8948","x":1810,"y":560,"wires":[[]]},{"id":"c014b0d5.d7f4b","type":"function","z":"ed056719.eefb88","name":"","func":"x = msg.payload.value;\nmsg.payload.chatId = 1165316147;\nmsg.payload.type = \"message\";\nmsg.payload.content = x;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":520,"wires":[["2c07bd25.62ce2a"]]},{"id":"17c4e400.8d4fc4","type":"telegram receiver","z":"ed056719.eefb88","name":"","bot":"965860b4.ff8948","saveDataDir":"","filterCommands":false,"x":570,"y":740,"wires":[["6e0a6314.96161c"],[]]},{"id":"6e0a6314.96161c","type":"function","z":"ed056719.eefb88","name":"","func":"id = msg.payload.chatId;\nmsg = msg.payload.content;\nmsg.payload = {\n    \"Chat_ID\": id,\n    \"Name\": msg\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":740,"wires":[["fb6aa8fa.ac8108"]]},{"id":"fb6aa8fa.ac8108","type":"mqtt out","z":"ed056719.eefb88","name":"","topic":"health/Doctor","qos":"","retain":"","broker":"9ad3f9b9.8b4548","x":990,"y":720,"wires":[]},{"id":"472e422f.42e324","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"965860b4.ff8948","type":"telegram bot","z":"","botname":"Dialysis_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9ad3f9b9.8b4548","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]